<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Введите логин:</label>
            <input type="text" id="username" name="username" maxlength="30" required>
        </div>
        <div>
            <label for="password">Введите пароль:</label>
            <input type="password" id="password" name="password" minlength="8" required>
        </div>
        <div>
            <label for="repeat_password">Повторите пароль:</label>
            <input type="password" id="repeat_password" name="repeat_password" minlength="8" required>
        </div>
        <div>
            <label for="age">Введите свой возраст:</label>
            <input type="text" id="age" name="age" maxlength="3" required>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>






